.without-task-board {
    width: 46rem;
    height: 15.25rem;
    border-top: 1px solid var(--gray-400);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .without-task-board img {
    margin-bottom: 1rem;
  }
  
  .without-task-board p {
    color: var(--gray-300);
  }
  
  .tasks-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .tasks-board ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .tasks-board li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 46rem;
    height: 4.5rem;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .task-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
  
  .task-description{
    margin-left: 1rem;
    color: var(--gray-100);
    font-size: 0.875rem;
  }
  
  .task-completed{
    margin-left: 1rem;
    color: var(--gray-300);
    font-size: 0.875rem;
    text-decoration: line-through;
  }
  
  .task-detail input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid var(--blue);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;
  }
  
  .task-detail input[type="checkbox"]:checked {
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);
  }
  
  .task-detail input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 16px;
    color: var(--gray-100);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .trash-button {
    color: var(--gray-300);
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  